.Navigation {
    top: 20px;
    position: fixed;
    padding: 1vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, .05);
}

.Navigation .header-logo {
    top: -1vh;
    bottom: -1vh;
    height: 6vh;
    float: left;
    position: absolute;
}

.Navigation .NavTabItem {

}

.Navigation .nav-top {
    z-index: 1000;
}