.AboutUs {
  position: relative;
  z-index: 10;
}

.AboutUs .about-us-title {
  top: -3.38vw;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 2vw;
  position: absolute;
}

.AboutUs .about-us-title .title-about {
  width: 13vw;
  color: white;
  padding-left: 1vw;
  border: 0.4vw solid #ffffff;
  border-bottom: 0;
}

.AboutUs .about-us-title .title-us {
  color: black;
  width: 13vw;
  padding-left: 1vw;
  border: 0.4vw solid #000000;
  border-top: 0;
}

.AboutUs .cards {
  height: auto;
  z-index: 0;
}

.AboutUs .cards .cards-row {

}

.AboutUs .cards .cards-row .description-card {
  padding: 0;
  margin-bottom: 13vh;
}

.AboutUs .cards .cards-row .description-card .card-title {

}

.AboutUs .cards .cards-row .description-card .card-title .title-thin {
  margin: 13vh 0 -1vh 0;
  color: #000000;
}

.AboutUs .cards .cards-row .description-card .card-title .subtitle-bold {
  font-size: 2.5vw;
  font-weight: bold;
}

.AboutUs .cards .cards-row .description-card .card-context {
  font-size: .85vw;
}

.AboutUs .cards .cards-row .description-card .card-context .his{
  font-weight: 900;
}
.background-block {
  background: #636c72;
  width: 31vw;
  height: 50vh;
  position: absolute;
  margin-left: -4vw;
  opacity: 0.1;
}
